@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    /* shadcn */
    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --success: oklch(72.3% 0.219 149.579);

    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-success: var(--success);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --breakpoint-xs: 25rem; /* 400px */

    --color-clr-50: oklch(0.985 0 0);
    --color-clr-100: oklch(0.97 0 0);
    --color-clr-200: oklch(0.922 0 0);
    --color-clr-300: oklch(0.87 0 0);
    --color-clr-400: oklch(0.708 0 0);
    --color-clr-500: oklch(0.556 0 0);
    --color-clr-600: oklch(0.439 0 0);
    --color-clr-700: oklch(0.371 0 0);
    --color-clr-800: oklch(0.269 0 0);
    --color-clr-900: oklch(0.205 0 0);
    --color-clr-950: oklch(0.145 0 0);

    --color-brand-lighter: oklch(0.865 0.127 207.078);
    --color-brand-light: oklch(0.789 0.154 211.53);
    --color-brand: oklch(0.715 0.143 215.221);
    --color-brand-dark: oklch(0.609 0.126 221.723);
    --color-brand-darker: oklch(0.52 0.105 223.128);
    --color-brand-50: oklch(0.984 0.019 200.873);
    --color-brand-100: oklch(0.956 0.045 203.388);
    --color-brand-200: oklch(0.917 0.08 205.041);
    --color-brand-300: oklch(0.865 0.127 207.078);
    --color-brand-400: oklch(0.789 0.154 211.53);
    --color-brand-500: oklch(0.715 0.143 215.221);
    --color-brand-600: oklch(0.609 0.126 221.723);
    --color-brand-700: oklch(0.52 0.105 223.128);
    --color-brand-800: oklch(0.45 0.085 224.283);
    --color-brand-900: oklch(0.398 0.07 227.392);
    --color-brand-950: oklch(0.302 0.056 229.695);

    --spacing-size-2xs: calc(var(--spacing) * 1);
    --spacing-size-xs: calc(var(--spacing) * 2);
    --spacing-size-sm: calc(var(--spacing) * 4);
    --spacing-size-md: calc(var(--spacing) * 8);
    --spacing-size-lg: calc(var(--spacing) * 12);
    --spacing-size-xl: calc(var(--spacing) * 16);
    --spacing-size-2xl: calc(var(--spacing) * 20);
    --spacing-size-3xl: calc(var(--spacing) * 24);
    --spacing-size-4xl: calc(var(--spacing) * 32);
    --spacing-size-5xl: calc(var(--spacing) * 40);
    --spacing-size-6xl: calc(var(--spacing) * 56);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --success: oklch(79.2% 0.209 151.711);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
